<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h2>Edit Registration</h2>

		<form role="form" {{action "save" on="submit"}}>
			<div class="form-group">
				<label {{bind-attr for="guestList.elementId"}}>Guest</label>
				{{input readonly=true value=selectedGuest id='guest' class="form-control" placeholder=selectedGuest}}
			</div>
			<div class="form-group">
				<label {{bind-attr for="workshopList.elementId"}}>Workshop</label>
				{{view Ember.Select classNames="form-control"
					viewName="workshopList"
					content=workshops 
	       	optionValuePath="content.id"
	       	optionLabelPath="content.name"
					value=selectedWorkshop
					prompt=model.workshop.name}}
			</div>			
			<button type="submit" class="btn btn-primary">Update</button>
			<button type="button" class="btn btn-default" {{action 'cancel'}}>Cancel</button>
		</form>
	</div>
</div>