<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h2>New Guest</h2>

		<form role="form" {{action "createGuest" on="submit"}}>
			<div class="form-group">
				<label for="new_guest_name">Name</label>
				{{input value=fields.name id='new_guest_name' class="form-control"}}
			</div>
			<div class="form-group">
				<label for="new_guest_email">Email</label>
				{{input value=fields.email id='new_guest_email' class="form-control"}}
			</div>	
			<div class="form-group">
				<label for="new_guest_password">Password</label>
				{{input value=fields.password id='new_guest_password' class="form-control"}}
			</div>
			<button class="btn btn-primary" type="submit">Create Guest</button>
			<button type="button" class="btn btn-default" {{action 'cancel'}}>Cancel</button>
		</form>
	</div>
</div>