<header>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>				
				{{#link-to 'index' class="navbar-brand"}}Ember Wknd{{/link-to}}
			</div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">	
        	<li>{{#link-to 'guests'}}Guests{{/link-to}}</li>
					<li>{{#link-to 'speakers'}}Speakers{{/link-to}}</li>
					<li>{{#link-to 'workshops'}}Workshops{{/link-to}}</li>
					<li>{{#link-to 'registrations'}}Registrations{{/link-to}}</li>		
				</ul>
				<div class="navbar-form navbar-right" role="application">
            {{bs-button title="Login" clicked="showLogin"}}
            {{bs-button title="Register" type="primary" clicked="showRegistration"}}
          </div>
			</div>
		</div>
	</nav>
</header>

<div class="container">
	{{outlet}}
</div>

{{#bs-modal name="myLoginModal" fade=true footerButtonsBinding="myLoginModalButtons" title="Login"}}
	<form class="form-horizontal" role="form">
		<div class="form-group">
      <label for="loginUsername" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
      	{{input value=fields.loginUsername id='loginUsername' class="form-control"}}
    	</div>
    </div>
    <div class="form-group">
      <label for="loginPassword" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
     		{{input type="password" value=fields.loginPassword id='loginPassword' class="form-control"}}
     	</div>
    </div>
  </form>
{{/bs-modal}}

{{#bs-modal name="myRegistrationModal" fade=true footerButtonsBinding="myRegistrationModalButtons" title="Register"}}
	<form class="form-horizontal" role="form">
		<div class="form-group">
      <label for="Name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
      	{{input value=fields.name id='name' class="form-control"}}
    	</div>
    </div>
		<div class="form-group">
      <label for="Email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
      	{{input type="email" value=fields.email id='email' class="form-control"}}
    	</div>
    </div>    
    <div class="form-group">
      <label for="Password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
     		{{input type="password" value=fields.password id='password' class="form-control"}}
     	</div>
    </div>
  </form>
{{/bs-modal}}